body { 
    background-color: rgb(213, 213, 213); 
    color: #444; 
    font-family: sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

#glcanvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.panel-body {
  margin-top: 10px;
}

#fractal-controls {
    position: absolute;
    top: 50px;
    left: 50px;
    background: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    cursor: move;
    width: 200px;
    user-select: none; /* prevents text selection while dragging */
}

#fractal-controls label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

#fractal-controls input,
#fractal-controls select {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    margin-top: 3px;
    border-radius: 3px;
    border: 1px solid #aaa;
}

.inline-inputs {
  display: flex;
  gap: 15px; /* space between the two input groups */
  align-items: center; /* vertically center labels and inputs */
}

.input-group {
  display: flex;
  flex-direction: column; /* label above input */
  margin-bottom: 5px;
}

.panel-body button {
    width: 100%;
    height: 40px; 
    font-size: 1rem; 
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px; 
}

.panel-body img {
  margin: auto;
  margin-top: 5px; 
  margin-bottom: 5px; 
}

.header {
  background: #ddd;
  padding: 5px 10px;
  cursor: move;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  margin: -15px -15px 10px -15px; /* extend to panel edges */
  text-align: center;
  align-items: center; 
  display: flex;
}

.header button {
  margin-left: auto; /* pushes the button to the far right */
}